<h1>Confirm account</h1>

<%= form_for :account, Routes.account_confirmation_path(@conn, :update, @token), fn _f -> %>
  <div>
    <%= submit "Confirm my account" %>
  </div>
<% end %>

<p>
  <%= link "Register", to: Routes.account_registration_path(@conn, :new) %> |
  <%= link "Log in", to: Routes.account_session_path(@conn, :new) %>
</p>
